<footer class="footer padding">

  <div class="footer-column">
    &copy; {{date format="YYYY"}} <a href="/">Carlos Azaustre</a>.
    <br><br>
    Web Developer, Fullstack on JavaScript technologies: AngularJS, NodeJS, ReactJS, HTML5, CSS,...
    <br>Speaker, Blogger and Web Instructor in Spanish.
    <br>You can contact me on my email
    <br><br>
    <a class="btn btn-orange small border radius" href="mailto:hi@carlosazaustre.com"><span class="fa fa-envelope"></span> Contact</a>
    <br><br>Follow me on
    {{> "social"}}
  </div>

  <div class="footer-column">
    <ul>
      <li><a href="/about">About Me</a></li>
      <li><a href="/resume">Résúmé</a></li>
      <li><a href="/ebooks">Published eBooks</a></li>
      <li><a href="/shop">T-Shirt shop</a></li>
    </ul>
  </div>

  <div class="footer-column text center">
    Proudly published with <a href="//tryghost.com">Ghost</a>
    <br><br>
    Hosted in<br>
    <a href="https://www.digitalocean.com/?refcode=f716de9860aa"><img width="200" src="{{ asset "digitalocean.png"}}"/></a>
    <br><br>
    <span class="text-small">The blog content are published with <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Licence Attribution-ShareAlike 4.0 International</a></span>
  </div>

</footer>
