<footer class="footer padding">

  <div class="footer-column">
    &copy; 2012 - {{date format="YYYY"}} <a href="/">Carlos Azaustre</a>.
    <br/>Todos los derechos reservados.
    <br><br>Sígueme en
    {{> "social"}}
  </div>

  <div class="footer-column">
    <ul>
      <li><a href="/blog/politica-de-cookies/">Política de cookies</a></li>
      <li><a href="/blog/legal">Aviso legal</a></li>
      <li>El contenido de este blog está publicado con <a href="https://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-Compartir igual 4.0 internacional</a></li>
    </ul>
  </div>

  <div class="footer-column text center">
    Publicado con <a href="//tryghost.com">Ghost</a>
    <br><br>
    Alojado en <br>
    <a href="https://www.digitalocean.com/?refcode=f716de9860aa"><img width="200" src="{{ asset "digitalocean.png"}}"/></a>
  </div>

</footer>
