<nav class="navbar">
  <div class="navbar-content">
    <div class="blog-info">
      <div class="author title">
        <img src="{{@blog.logo}}" alt="Author image" class="border circle inline" />
        <a class="text bold" href="{{@blog.url}}">Carlos Azaustre &nbsp; <span class="text-orange">Web Developer</span></a>
      </div>
      <ul>
        <li><a href="http://carlosazaustre.es/hola">Hola</a></li>
        <li><a href="http://carlosazaustre.es/cv">Currículum</a></li>
        <li><a href="http://carlosazaustre.es/libros">Libros</a></li>
        <li><a href="http://carlosazaustre.es/camisetas">Camisetas Geeks</a></li>
      </ul>
    </div>
  </div>
</nav>
