<div id="newsletter" class="box">
  <form action="//carlosazaustre.us6.list-manage.com/subscribe/post?u=f03c243e4abc9f550757789bc&amp;id=bde03e7057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <span class="fa fa-envelope fa-3x"></span>
    <br/><br/>
    <h4>Don't miss anything!</h4>
    <p>If you want receive email updates, please let me your address.</p>
    <input type="email" name="EMAIL" class="inline field" id="mce-EMAIL" placeholder="Your email address..." required>
    <p class="center">
      <button type="submit" class="btn btn-orange medium border radius" name="subscribe" id="mc-embedded-subscribe">
        <span class="fa fa-thumbs-up"></span>
        I want subscribe!
      </button>
    </p>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f03c243e4abc9f550757789bc_bde03e7057" tabindex="-1" value=""></div>
  </form>
</div>
