<div>
  <h3>
    <a href="//carlosazaustre.es/twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
    <a href="//carlosazaustre.es/github" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
    <a href="//carlosazaustre.es/dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>&nbsp;
    <a href="//carlosazaustre.es/linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
    <a href="//carlosazaustre.es/facebook" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
    <a href="//carlosazaustre.es/gplus" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;
    <a href="//carlosazaustre.es/youtube" target="_blank"><i class="fa fa-youtube"></i></a>
  </h3>
</div>
