<div>
  <h3>
    <a href="//carlosazaustre.com/twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
    <a href="//carlosazaustre.com/github" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
    <a href="//carlosazaustre.com/dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>&nbsp;
    <a href="//carlosazaustre.com/linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
    <a href="//carlosazaustre.com/facebook" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
    <a href="//carlosazaustre.com/gplus" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;
    <a href="//carlosazaustre.com/youtube" target="_blank"><i class="fa fa-youtube"></i></a>
  </h3>
</div>
