<div class="margin_top">
  <h3>
    <a href="//twitter.com/carlosazaustre" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
    <a href="//github.com/carlosazaustre" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
    <a href="//linkedin.com/in/carlosazaustre" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
    <a href="//facebook.com/carlosazaustre.web" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
    <a href="//google.com/+CarlosAzaustre" target="_blank"><i class="fa fa-google-plus"></i></a>
  </h3>
</div>
