{{!< default}}

{{> "header"}}

<main class="site_width" style="display: table; box-sizing:border-box;" role="main">

  <div class="row padding ad">
    <figure class="ad-media">
      <a href="http://h4ckademy.com/?ref=carlosazaustre">
        <img src="http://blog.h4ckademy.com/content/images/2015/01/logo384-new-2.png" alt="H4ckademy" />
      </a>
    </figure>
    <div class="ad-description">
      <h4><a href="http://h4ckademy.com/?ref=carlosazaustre">H4ckademy</a></h4>
      <small>
        6 weeks of immersive code retreat in Madrid. <span class="desktop">Kick-off on February 16th 2015</span>
      </small>
    </div>
  </div>

  {{> "loop"}}

</main>
